<head>
    <meta charset="utf-8">
    <!--    <link rel="stylesheet" href="stylesheets/style.css" />-->
    <title>Centerpiece</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" href="public/twitch-style.css" />
</head>

<div class="ui large top borderless menu" style="margin-bottom: -1px; border-radius: 0px; background-color: #5c5c5c">
    <a class="item" id="homeButton" href="/" style="padding: 0px 25px 0px 25px"><i class="inverted home icon"></i>Home</a>
    <a class="item" href="/login/twitter"><i class="inverted twitter icon"></i>Twitter</a>
    <a class="item" href="/login/twitch"><i class="inverted twitch icon"></i>Twitch</a>

    <div class="right menu">
        <div class="ui transparent icon input" style="padding-left: 50px">
            <input id="twitchInput"  type="text" placeholder="Search..." style="color: white">
            <button id="target" value="Refresh" class="ui icon tertiary button">
                <i class="search icon"></i>
            </button>
        </div>
        <div class="ui simple dropdown item">
            Logout
            <i class="dropdown icon"></i>
            <div class="menu" style="background-color: #5c5c5c">
                <a class="item" href="/logout/twitter">Twitter</a>
                <a class="item" href="/logout/twitch">Twitch</a>
            </div>
        </div>
    </div>
</div>

